RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

#za_da_premahnem_index_i_da_ni_go_vyrne_v_sled_index_s_ime_na_promenliva_url